{% extends "base.html" %}


{% block htmltitle %}
  <!-- <title>Danfeng Shan @ XJTU</title> -->
  {{ super() }}
{% endblock %}

{% block styles %}
  {{ super() }}
{% endblock %}

{% block tabs %}
  {{ super() }}
  <main class="md-main">
    <div class="md-container">
      <header class="p-3 mb-0 bg-body-tertiary rounded-3">
        <div class="md-grid">
          <!-- Heading Row -->
          <div class="row align-items-center">
            <div class="col-lg-2 col-sm-2">
              <img src="{{ base_url }}/assets/images/dfshan.jpg" class="rounded img-thumbnail" alt="Danfeng Shan">
            </div>
            <div class="col-lg-9 col-sm-9 md-typeset" id="about-me">
            </div>
          <!-- /.col-md-4 -->
          </div>
          <!-- /.row -->
        </div>
      </header>
    <!-- container -->
    </div>
  </main>
{% endblock %}
