site_name: Danfeng Shan

nav:
  - Home: index.md
  - Publications: publications.md
  - Photos: activities.md

theme:
  name: material
  language: zh
  # language: en
  custom_dir: overrides
  favicon: assets/favicon.png
  icon:
    logo: fontawesome/solid/network-wired
  features:
    # - navigation.instant
    # - navigation.instant.progress
    - navigation.tabs
    # - navigation.tabs.sticky
    - navigation.top
    - header.autohide
    - navigation.indexes
    - navigation.tracking
    - toc.follow

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/dfshan
    - icon: simple/googlescholar
      link: https://scholar.google.com/citations?user=XLbHoCsAAAAJ&hl=zh-CN
#   generator: false
#   alternate:
#     - name: English
#       link: /en/
#       lang: en
#     - name: 中文
#       link: /zh/
#       lang: zh

extra_css:
  - stylesheets/extra.css

extra_javascript:
  - javascripts/extra.js

plugins:
  - search
  - open-in-new-tab
  - i18n:
      docs_structure: suffix
      reconfigure_material: true
      reconfigure_search: true
      languages:
        - locale: en
          name: English
          site_name: "Danfeng Shan @ XJTU"
          default: true
          build: true
        - locale: zh
          name: 中文
          build: true
          site_name: "单丹枫 @ XJTU"
          nav_translations:
            Home: 主页
            Publications: 论文发表
            Photos: 团队照片
  - git-revision-date-localized

markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - tables
  - toc:
      # title: On this page
      permalink: true
      # permalink_title: Anchor link to this section for reference
      toc_depth: 2
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem
  - pymdownx.caret
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.superfences
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.smartsymbols
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
